:root {
    --nav-width: 75px;
}

body {
    display: flex;
    flex-direction: row;
}

nav {
    width: var(--nav-width);
    height: 100%;
    background-color: var(--secondary-container);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.expanded_nav {
    width: calc(var(--nav-width) * 3);
}

main {
    width: calc(100% - var(--nav-width));
    height: 100%;
}

nav span {
    margin: 0.5rem 0;
}

nav div{
    width: 100%;
    height: calc(var(--nav-width) * 0.95);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: var(--primary-font);
    font-size: 2.8rem!important;
}

.expanded_arrow {
    rotate: 180deg;
}

.theme-switch-div {
    height: calc(var(--nav-width) * 1.5);
}

.theme-switch {
    font-size: 1.2rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 2em;
    height: 4em;
}

.theme-switch input {
    opacity: 1;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-container);
    transition: .4s;
    border-radius: 5px;
    box-shadow: 0 0 80px 0 var(--extreme);
    overflow: hidden;
    margin: 0;
}
  
.off {
    position: absolute;
    content: "";
    height: 2em;
    width: 2em;
    transition: .4s;
    image-rendering: pixelated;
    opacity: 1;
    bottom: 0;
    border-radius: 0 0  5px 5px;
}
  
.on {
    position: absolute;
    content: "";
    height: 2em;
    width: 2em;
    transition: .4s;
    image-rendering: pixelated;
    opacity: 0;
    bottom: 0;
    border-radius: 5px 5px 0 0;
}
  
.theme-switch input:checked + .slider {
    background-color: var(--primary-container);
}
  
.theme-switch input:focus + .slider {
    box-shadow: 0 0 1px #000000;
}
  
.theme-switch input:checked ~ .off {
    transform: translateY(-2em);
    opacity: 0;
}
  
.theme-switch input:checked ~ .on {
    transform: translateY(-2em);
    opacity: 1;
}

.logout {
    color: var(--red);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-right: 0.5rem;
}

div input {
    width: 0;
    height: 0;
    opacity: 1;
}

div input:checked + nav {
    width: 500px;
}