:root {
    --dark-main-bg: #181818;
    --dark-secondary-bg: #1f1f22;
    --dark-main-font: #bdc3c2;
    --dark-main-container: #2f2d30be;
    --black: black;
    --dark-green: #238d4c;
    --dark-red: #96161a;

    --light-main-bg: #a09d9c;
    --light-secondary-bg: #b4b1ad;
    --light-main-font: #242120;
    --light-main-container: #8f8c8b78;
    --white: white;
    --light-green: #129f46;
    --light-red: #d53d42;
}

:root {
    --main-bg: var(--dark-main-bg);
    --secondary-bg: var(--dark-secondary-bg);
    --main-font: var(--dark-main-font);
    --main-container: var(--dark-main-container);
    --secondary-container: var(--dark-secondary-container);
    --extreme: var(--black);
    --green: var(--dark-green);
    --red: var(--dark-red);
}

[data-theme="light"] {
    --main-bg: var(--light-main-bg);
    --secondary-bg: var(--light-secondary-bg);
    --main-font: var(--light-main-font);
    --main-container: var(--light-main-container);
    --secondary-container: var(--light-secondary-container);
    --extreme: var(--white);
    --green: var(--light-green);
    --red: var(--light-red);
}